/* CSS Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Global Styles */
.cardimg img {
    height: 445px;
    width: 300px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.cardimg-mobile img {
    width: 350px;
    display: block;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

/* Layout & Typography */
body {
    background-color: hsl(30, 38%, 92%);
    line-height: 150%;
    font-size: 14px;
}

.card {
    display: flex;
    width: 600px;
    height: 445px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.cardmobile {
    border-radius: 8px;
    width: 350px;
    height: 750px;
    display: none;
}

.card, .cardmobile {
    background-color: hsl(0, 0%, 100%);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 97vh;
}

.cardbody {
    margin-inline: 30px;
}

.perfume, .desc, .btn, .slash {
    font-family: 'Montserrat' ,sans-serif;
    margin-block: 18px;
    color: hsl(228, 12%, 48%);
    font-weight: 500;
}

.name, .sale {
    font-family: 'Fraunces' ,serif;
    margin-block: 18px;
}

.perfume {
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 12px;
    margin-block-start: 30px;
}

.prices {
    display: flex;
}

.name, .sale {
    font-size: 32px;
    font-weight: 700;
}

.name{
    line-height: 105%;
}

.desc {
    line-height: 160%;
}

.sale {
    color: hsl(158, 36%, 37%);
    margin-inline-end: 16px;
}

.slash {
    text-decoration: line-through;
}

.btn {
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    text-align: center;
    padding-block: 12px;
    border-radius: 8px;
    font-weight: 650;
    width: 239px;
}

.btn img {
    margin-inline: 10px;
}

.btn:hover {
    background-color: hsl(158, 42%, 18%);
}

@media screen and (max-width: 552px) {
    .cardmobile {
        display: block;
    }

    .card {
        display: none;
    }
}